<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlappyBirdRemake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>588CFF681D0B87CF00FB17B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>588CFF801D0B87CF00FB17B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>588CFF8B1D0B87CF00FB17B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
